<!-- contact.html -->
<div class="jumbotron text-center"  ng-controller="contactCtrl">
        
   <div class="content">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12  col-md-12 col-lg-12">
                    <div class="card card-map">
					<div class="header">
                        <h4 class="title">Find us here</h4>
                    </div>
					<div class="map">
						<div id="map"></div>
					</div>
				</div>
			</div>
        </div>
    </div>        
</div>
        
        
<!--        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="">
                  <h3>Working Hours</h3>
                    <h4>Week days: ( Mondays - Fridays: 7am - 9:30pm )</h4>
                    <h4> Weekends:  Saturdays: 8am - 9:30pm  | Sundays: 3pm - 9:30pm </h4>
                    <h4> Holidays:  8am - 9:30pm </h4>
                </div>
            </div>
        </div>-->
    
    
                        <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="description">
                                                    <h3 class="title">Working Hours</h3>
                                                    <p class="desc">Weekdays: ( Mondays - Fridays: 7am - 9:30pm )</p>
                                                    <p class="desc">Weekends:  Saturdays: 8am - 9:30pm </p>
                                                    <p class ="desc">Sundays: 3pm - 9:30pm </p>
                                                    <p class="desc"> Holidays:  8am - 9:30pm </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="description">
                                                    <h3 class="title">Telephone</h3>
                                                    <p class="desc"> Main:  +233552521449 | +233302774670 </p>
                                                    <p class="desc"> Others:  +233209378846 | +233244383755 </p>
                                                     <p class="desc"> Whatsapp:  +233552521449 </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="description">
                                                    <h3 class="title">Address</h3>
                                                    <p class="desc"> P.O. BOX OS 332 OSU-ACCRA, GHANA</p>
                                                    <p class="desc"> Ghana Post GPS Digital Address: GL-046-0506</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
    
        
                <!--  form goes here      -->
<!--      <h4 class="">Let's hear from you</h4>
        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                <div class="">
                    <form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                          <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                            <label for="userName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" name="name" placeholder="Name" ng-model="name" required>
                            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
                            </div>
                          </div>
                          <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <label for="userEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-6">
                              <input type="email" class="form-control" name="email" placeholder="Email" ng-model="email" required>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                          </div>
                           <div class="form-group">
                            <label for="userNumber" class="col-sm-2 control-label">Phone Number</label>
                            <div class="col-sm-4">
                            <input type="number" class="form-control" id="userNumber" placeholder="Phone Number">
                            </div>
                          </div>
                         <div class="form-group" ng-class="{ 'has-error' : userForm.userMessage.$invalid && !userForm.userMessage.$pristine }">
                            <label for="userMessage" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-6">
                            <textarea rows="5" class="form-control border-input" name="userMessage" ng-model="userMessage" placeholder="Please type your message here" value="" required></textarea>
                             <p ng-show="userForm.userMessage.$invalid && !userForm.userMessage.$pristine" class="help-block">Please enter a message</p>
                            </div>
                          </div>
                       
                          <div class="form-group">
                            <div class="col-sm-9">
                              <button type="submit"  ng-disabled="userForm.$invalid" class="btn btn-default">Send</button>
                            </div>
                          </div>
                </form>
            </div>
        </div>
        </div>-->
    </div>

      
