<!-- team.html -->
<div ng-controller="teamCtrl" class="jumbotron text-center">
        <h2 class="team-caption">Meet Our Dedicated Staff</h2>

<br />    
<!-- NCA Staff -->  
 <h3 class="team-caption">Our Medicine Counter Assistants </h3>
<br />  
<div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/anita.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Anita Ademola</h3>
                                                    <!--<p class="small-tex">Consultant Physiotherapis</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/joyce.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Joyce Ansah</h3>
                                                   <!-- <p class="small-tex">Head Of Remittances, UniGhana</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/adwoa.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Priscilla Adwoa Owusu</h3>
                                                   <!-- <p class="small-tex">Former Envoy to Egypt</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter1.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Patience Asumang</h3>
                                                    <!--<p class="small-tex">Former Envoy to Egypt</p>-->
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
    <br />
     <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter2.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Ernest Adjei</h3>
                                                  <!--  <p class="small-tex">Consultant Physiotherapis</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter3.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Nancy Konney</h3>
                                                   <!-- <p class="small-tex">Head Of Remittances, UniGhana</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter4.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Juliet Gyamfi</h3>
                                                    <!--<p class="small-tex">Former Envoy to Egypt</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/vero.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Veronica Yanney</h3>
                                                   <!-- <p class="small-tex">Former Envoy to Egypt</p>-->
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
     <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter6.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Thelma Wristberg</h3>
                                                    <!--<p class="small-tex">Consultant Physiotherapis</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter7.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Lawrencia Baidoo</h3>
                                                    <!--<p class="small-tex">Head Of Remittances, UniGhana</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter8.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Natasha Eggay</h3>
                                                 <!--   <p class="small-tex">Former Envoy to Egypt</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter9.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Agnes Oware</h3>
                                                   <!-- <p class="small-tex">Former Envoy to Egypt</p>-->
                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
    
  
         <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter11.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Mary Anang</h3>
                                                    <!--<p class="small-tex">Consultant Physiotherapis</p>-->
                                                </div>
                                            </div>
                                    </div>
                                   <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter12.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Lydia Honu</h3>
<!--                                                    <p class="small-tex">Delivery Manager</p>-->
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
        
    <!--Pharmacist -->
    <br /><br />
    <h3 class="team-caption">Meet our Pharmacists </h3>
    <br />  
    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/pharmacist1.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Edwin Shine Dugah</h3>
                                                    <!--<p class="small-tex">Consultant Physiotherapis</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/pharmacist2.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Nelson Aklamanu</h3>
                                                   <!-- <p class="small-tex">Head Of Remittances, UniGhana</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/kafui.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Kafui Adjabeng</h3>
                                                   <!-- <p class="small-tex">Former Envoy to Egypt</p>-->
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
    
    
    <!-- Insurance -->
        <!-- Transport -->
    <br /><br />
    <h3 class="team-caption">Insurance</h3>
    <br />  
    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-12">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter5.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Philemon Dabah</h3>
                                                    <p class="small-tex">Insurance Manager</p>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
    
    
    <!-- Transport -->
    <br /><br />
    <h3 class="team-caption">Transport Team</h3>
    <br />  
    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/transport.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Michael Yeboah</h3>
                                                    <p class="small-tex">Transport Manager</p>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter2.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Ernest Adjei</h3>
                                                    <p class="small-tex">Delivery Manager</p>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
    
    
    <!-- Inventory -->
        <!-- Transport -->
    <br /><br />
    <h3 class="team-caption">Inventory and Stock Team </h3>
    <br />  
    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/anita.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Anita Ademola</h3>
<!--                                                    <p class="small-tex">Transport Manager</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter3.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Nancy Konney</h3>
<!--                                                    <p class="small-tex">Delivery Manager</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter4.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Juliet Gyamfi</h3>
<!--                                                    <p class="small-tex">Delivery Manager</p>-->
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/counter12.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Lydia Honu</h3>
<!--                                                    <p class="small-tex">Delivery Manager</p>-->
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
    
    
    <!-- Management -->
    <br /><br />  
    <h3 class="team-caption">Management</h3>
    <br />  
    <div class="team">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-4">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/pharmacist2.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Nelson Aklamanu</h3>
                                                    <p class="small-tex">Chief Executive Officer (CEO)</p>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/frankie.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Frank Aklamanu</h3>
                                                    <p class="small-tex">General Manager</p>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="content">
                                                <div class="avatar avatar-green">
                                                    <img alt="..." class="img-circle" src="assets/img/faces/pharmacist1.jpg"/>
                                                </div>
                                                <div class="description">
                                                    <h3 class="titl">Edwin Shine Dugah</h3>
                                                    <p class="small-tex">Branch Manager</p>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>